<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesión - Botica La Luz</title>
  <link rel="stylesheet" href="../../../static/css/registro.css">
  <link rel="stylesheet" href="../../../static/css/modoOscuro.css">
  <link rel="stylesheet" href="../../../static/css/login.css">
</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <h2> Botica La Luz</h2>
      <!-- Agregar este botón en la parte superior de la página -->
<div class="header-controls">
    <button id="toggleDarkMode" class="btn-dark-mode">
        Modo Oscuro
    </button>
</div>
      <h3>Iniciar Sesión</h3>

      <form id="formLogin">
        <div class="input-group">
          <label for="email">Correo electrónico</label>
          <input type="email" id="email" placeholder="ejemplo@gmail.com" required>
        </div>

        <div class="input-group">
          <label for="password">Contraseña</label>
          <input type="password" id="password" placeholder="********" required>
        </div>

        <button type="submit" class="btn">Ingresar</button>
        <a href="registro.html">¿No tienes cuenta? Regístrate</a>
      </form>

      <p id="mensaje" class="mensaje"></p>
    </div>
  </div>

  <script src="../../../static/js/login.js"></script>
  <script src="../../../static/js/ModoOscuro.js"></script>
</body>
</html>
